__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
.paddlex_cache/
.hf_cache/
.modelscope_cache/
.surya_cache/
.ultralytics/
.tmp/
.tmp*/
.uv_cache/
.uv_python/
.venv/
.venv_latest_*/
venv/
build/
dist/
*.egg-info/
artifacts/
outputs/
OCRmypdf_plugins.rar
OCRmypdf_plugins/*_NIX/
camscan_suhren/
